:root {
    --filter-cont-w: 50px;
}

.filter-cont {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    left: 0;
    width: var(--filter-cont-w);
    z-index: 999;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}

.map-cont {
    position: relative;
    height: 100vh;
}

.mapid-cont {
    position: absolute;
    top: 0;
    width: calc(100vw);
    height: 100%;
}


.filter-el {
    width: var(--filter-cont-w);
    height: var(--filter-cont-w);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-el[f-sel="1"] {
    background: #d8d8d8;
}

.filter-el[f-sel="0"] {
    background: white;
}

@media screen and (max-width: 500px) {
    .filter-cont {
        top: 100vh;
        transform: translateY(-100%);
    }
}

.filter-img {
    height: 60%;
    display: flex;
    align-items: center;
}

.filter-img img {
    height: 100%;
}