:root {
    --filter-cont-w: 70px;
}

.filter-cont {
    position: relative;
    top: 0vh;
    left: 0;
    width: var(--filter-cont-w);
    background: white;
    z-index: 999;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}

.map-cont {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mapid-cont {
    width: calc(100vw - var(--filter-cont-w));
    height: 100%;
}


.filter-el {
    width: var(--filter-cont-w);
    height: var(--filter-cont-w);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-el[f-sel="1"] {
    background: #d8d8d8;
}

.filter-img {
    height: 60%;
    display: flex;
    align-items: center;
}

.filter-img img {
    height: 100%;
}